@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; /* Светлая тема */
    --foreground: #000000; /* Светлая тема */
    --muted: #f0f0f0; /* Светлая тема */
    --muted-foreground: #666666; /* Светлая тема */
    --popover: #f5f5f5; /* Светлая тема */
    --popover-foreground: #000000; /* Светлая тема */
    --card: #f5f5f5; /* Светлая тема */
    --card-foreground: #000000; /* Светлая тема */
		--column: #f1f1f1;
    --border: #cccccc; /* Светлая тема */
    --input: #dddddd; /* Светлая тема */
    --sidebar: #f5f5f5; /* Светлая тема */
    --primary: #1d4ed8; /* Светлая тема */
    --primary-foreground: #ffffff; /* Светлая тема */
    --secondary: #3b82f6; /* Светлая тема */
    --secondary-foreground: #ffffff; /* Светлая тема */
    --accent: #10b981; /* Светлая тема */
    --accent-foreground: #ffffff; /* Светлая тема */
    --destructive: #ef4444; /* Светлая тема */
    --destructive-foreground: #ffffff; /* Светлая тема */
    --ring: #3b82f6; /* Светлая тема */
    --radius: 0.5rem; /* Светлая тема */
  }

  .dark {
    --background: #0b1120;
    --foreground: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
    --muted: #202937;
    --muted-foreground: #a6b1be; /* Преобразовано из 215 20.2% 65.1% */
    --popover: #8d8d8d; /* Преобразовано из 0 0% 55.3% */
    --popover-foreground: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
    --card: #0e172a;
    --card-foreground: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
		--column: #152241; 
    --border: #202937;
    --input: #202937;
    --sidebar: #0e172a;
    --primary: #a252c8;
    --primary-foreground: #f5f5f5;
    --secondary: #202937;
    --secondary-foreground: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
    --accent: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
    --accent-foreground: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
    --destructive: #a22e2e; /* Преобразовано из 0 62.8% 30.6% */
    --destructive-foreground: #c3cad8; /* Преобразовано из 221.5 30.2% 91.6% */
    --ring: #202937;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    font-family: "Lato", sans-serif;
  }
}
